.display{
    .alticle::after{
        content: "";
		display: block;
                clear: both;
                /* height: 0;overflow: hidden; 为了解决 IE 浏览器的兼容问题 */
 		height: 0;
		overflow: hidden;
                /* visibility:hidden;为了去隐藏content中的内容 */
		visibility: hidden;
    }
    .alticle{
        width:1200px;
        margin: 0 auto;
        // height: 500px;
        // position: relative;
        margin-top:80px;
        .alticleleft{
            // height: 100vh;
            // background-color: white;
            margin-top: 1px;
            float: left;
            animation: showalticleleft 0.5s forwards;
            position: relative;
            z-index: 50;
            .thisrouter{
                height: 40px;
                padding-left: 5px;
                background-color: rgb(48, 49, 51);
                span{
                    line-height: 40px;
                    font-size:16px;
                    color: white!important;
                }
                
            }
        }
        .alticleright{
            width:300px;
            height: 100%;
            // position: absolute;
            float: right;
            background-color: white;
            right: 0;
            top: 0;
            position: relative;
            animation: showalticleright 0.5s forwards;
            position: sticky;
            top: 0;
        }
        .alticleright::after{
            content: '';
            display: table;
            clear: both;
        }
        .updatetitle{
            color: white;
            font-size: 16px;
            line-height: 40px;
            padding-left: 5px;
            height: 40px;
            background-color: rgb(48, 49, 51);
            span{
                font-size: 14px;
                float: right;
                margin-right:10px;
                cursor: pointer;
            }
        }
    }
    @keyframes showalticleleft {
        0%{
            opacity: 0;
            // top: 100px;
            right:300px;
        }   
        100%{
            opacity: 1;
            // top: 0;
            right: 0px;
        }
    }
    @keyframes showalticleright {
        0%{
            opacity: 0;
            left: 300px;
        }
        100%{
            opacity: 1;
            left: 0;
        }
    }
}

