.technology{
    display: flex;
    .all_alticle {
      width: 100%;
      margin-left: 10px;
      position: relative;
      min-height: 100vh;
      background: #fff;
    }
    .lables,.sort{
        // width: 6px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        display: flex;
        padding-left: 20px;
        // border:1px solid black;
        color:rgb(160, 160, 160);
        overflow: hidden;
        transition: 0.3s;
        svg{
            cursor: pointer;
            margin-top: 18px;
            margin-right: 20px;
        }
        .categorys{
            color:#333;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            // border:1px solid red;
            span{
                padding-left: 7px;
                padding-right: 7px;
                cursor: pointer;
                transition: 0.3s;
                font-weight: 600;
                // border:1px solid red
            }
            span:hover{
                transform: scale(1.1);
                color: rgb(0, 0, 173);
                transition: 0.3s;
            }
        }
    }
    .paging{
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
        
    }
    .thisrouter{
        height: 40px;
        padding-left: 5px;
        background-color: rgb(48, 49, 51);
        span{
            line-height: 40px;
            font-size:16px;
            color: white!important;
        }
        
    }
    .classification{
      position: sticky;
      top: 0;
      width:108px;
      margin-left: -118px;
      background-color: white;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
      overflow: auto;
      border-radius: 3px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: -40px;
      animation: showclasslist 0.5s forwards;
      .ifications{
          width: 100%;
          text-align: center;
          height: 32px;
          font-size: 14px;
          line-height: 32px;
          cursor: pointer;
          transition: 0.3s;
      }
      .ifications:hover{
          border-radius: 100px;
          background-color: #303133;
          color: white;
          font-weight: 600;
      }
    }
    .classification::-webkit-scrollbar{
        width: 0px;
    }
    @keyframes showclasslist {
        0%{
            height: 42px;
            overflow: hidden;
        }
        50%{
            height: 42px;
        }
        100%{
            height: 100vh;
        }
    }
}
.changeifications{
    border-radius: 100px;
    background-color: #303133;
    color: white;
    font-weight: 600;
}